@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body{
    font-family: Montserrat, serif;
}
h1, h2{
    font-weight: 300;
}

#contenedor{
    width: 680px;
    height: 380px;
    margin: auto; /* centrar una caja - en HORIZONTAL */
    background-color: #6b6b6b;

    /*
     distribución del CONTENIDO de la caja
     en el eje HORIZONTAL
     */
     display: flex;
     /* justify-content: start; /* predeterminado - hacia la izquierda */
     /* justify-content: end; /* hacia la derecha */
    /* justify-content: center; /* centrado */
    justify-content: space-between;
}

#contenedor2{
    width: 680px;
    height: 380px;
    margin: auto; /* centrar una caja - en HORIZONTAL */
    background-color: #6b6b6b;
    /*
     distribución del CONTENIDO de la caja
     en el eje HORIZONTAL
    */
    display: flex;
    /* align-items: start; /* predeterminado - arriba */
    /* align-items: end; /* abajo */
    align-items: center;
}

#contenedor3{
    width: 680px;
    height: 380px;
    margin: auto; /* centrar una caja - en HORIZONTAL */
    background-color: #6b6b6b;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

    article{
        width: 160px;
        height: 132px;
        background-color: #57f6af;
    }