@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

/* selector universal */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: #3c3c3c;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
a{
    text-decoration: none;
}


header{
    width: 960px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center; /* centrar vertical */
    justify-content: space-between;
}
    header a{
        font-weight: 400;
        color: #3c3c3c;
    }

    header a img{
        vertical-align: middle;
        margin: 8px;
    }
    header nav a{
        margin: 8px;
    }

/* main */
main{
    width: 960px;
    margin: auto;
}

/* hero banner */
#hero-banner{
    height: 450px;

    /* imagen de fondo */
    background-image: url(../imgs/hero-banner.jpg);
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
}
    h1{
        font-size: 32px;
        color: #fff;
        font-weight: normal;
        margin-left: 144px;
        width: 288px;
    }

/* sección Promos */
#promos{
    height: 464px;
    background-color: #FAF0E9;
    margin-top: 56px;
    padding: 20px 32px;    
    display: flex;
    flex-wrap: wrap; /* respeta los anchos */
    justify-content: space-between;
}
    #promos h2{
        width: 960px;
        font-weight: 400;
    }
    #promos article{
        width: 256px;
    }
    #promos h3{
        margin: 16px 8px;
        font-weight: 400;
    }
    #promos p{
        margin: 0px 8px;
    }
    #promos a{
        color: #af5b01;
    }
    #promos a:hover{
        color: #d66f00;
        box-shadow: 0 0 8px #dcc3b2;
    }

/* sección servicios */

#servicios{
    width: 680px;
    height: 372px;
    margin: 56px auto;
    display: flex;
    flex-wrap: wrap; /* respeta los anchos */

    column-gap: 100px;
    row-gap: 32px;
}
    #servicios h2{
        text-align: center;
        font-weight: normal;
        width: 680px;
    }
    #servicios a{
        width: 160px;
        height: 140px;
        display: block;
        text-align: center;
        color: #3c3c3c;
        border-radius: 12px;
        border: 1px solid #3c3c3c;
        transition: 500ms;
    }
    #servicios a:hover{
        color: #fff;
        background-color: #3c3c3c;
    }

        .material-symbols-outlined{
            font-size: 56px;
            margin: 22px 52px 17px 52px;
        }

/*#####  SERVICIOS #######*/
#video iframe{
    width: 960px;
    height: 400px;
    border: none;
}

/* footer  */
footer{
    width: 960px;
    height: 160px;
    margin: auto;
    background-color: #3c3c3c;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    footer a{
        color: #fff;
    }
        footer a img{
            vertical-align: middle;
            margin: 8px;
        }