@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body{
    background-color: #222826;
    color: #f9b56b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h1{
    font-weight: 300;
}